* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*TYPOGRAPHY*/

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

/*Container*/

.container {
  width: 1146px;
  margin: 0 auto;
}

/*Main_Button*/

.main-btn {
  display: inline-block;

  text-align: center;
  vertical-align: top;

  color: #fff;
  font-weight: 800;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border-radius: 50px;
  border: none;

  cursor: pointer;
}

/*-----------------------------------------------*/

body {
  position: relative;
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  text-transform: none;

  height: 3000px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/background_slider_1.png);
  background-repeat: no-repeat;
  background-position: 50% 55%;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/background_slider_2.png);
}

.site-wrapper::after {
  background-image: url(../img/background_slider_3.png);
}

.slider {
  position: relative;

  padding-top: 272px;

  text-align: center;
  color: #ffffff;
}

.main-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.main-slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.main-slider-btn {
  padding: 12px 44px;

  font-size: 31px;
  line-height: 41px;
}

.main-slider-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.main-slider-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0px;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 7px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/*radio-btn-slider*/

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background_slider_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/background_slider_2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/background_slider_3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-btn {
  color: #fff;
  font-weight: 800;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border-radius: 50px;
}

/*------------------------header------------------------*/

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding-top: 10px;
}

.header-logo {
  padding-right: 11px;
  line-height: 0;
}

/*navigation-menu*/

.navigation-user-list {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: flex-start;

  margin-right: 360px;
  padding-top: 15px;
}

.navigation-user-item {
  position: relative;

  padding: 4px 13px;
  margin-right: 2px;
}

.navigation-user-item:hover {
  border-radius: 50px;

  background-color: #f7f6f3;
}

.navigation-user-item:hover .navigation-user-btn {
  color: #000;
  border-bottom: none;
}

.navigation-user-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*inner-navigation-menu*/

.menu-catalog-list {
  display: none;

  position: absolute;

  min-width: 142px;
  top: 100%;
  left: -8px;

  margin-top: 6px;

  border-radius: 5px;
}

.menu-catalog-list:before {
  content: "";
  display: block;

  position: absolute;
  top: -20px;

  height: 20px;
  width: 100%;

  opacity: 0;
}

.navigation-user-item:hover > .menu-catalog-list {
  display: block;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.menu-catalog-item {
  position: relative;

  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-catalog-item:hover {
  background-color: #fbded7;
}

.menu-catalog-item:active {
  background-color: #f6b5a5;
}

.menu-catalog-item:first-child {
  border-radius: 5px 5px 0px 0px;
}

.menu-catalog-item:last-child {
  border-radius: 0px 0px 5px 5px;
}

.menu-catalog-btn {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #000;
}

.new {
  font-weight: 800;
  padding: 4px 0;
}

.new:before {
  content: '';

  position: absolute;
  top: 39px;
  left: 7px;

  height: 1px;
  width: 128px;

  background-color: #d1d0ce;
}

.user-registration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: baseline;

  padding-top: 12px;
}

.header-search {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #9cb2a5;

  border-radius: 50%;
}

.header-search:hover {
  background-color: #f8f7f4;
}

.header-search:hover .search-icon {
  fill: #323232;
}

.header-search label {
  position: relative;

  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 9px;
}

.main-search {
  display: none;

  position: relative;
  top: 30px;
  right: 155px;

  margin-top: 10px;

  border-radius: 5px;
}

.header-search:hover .main-search {
  display: block;
}

.main-search::before {
  content: "";
  display: block;

  position: absolute;
  top: -6px;

  height: 8px;
  width: 187px;

  opacity: 0;
}

.wrap-user-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: stretch;
}

.user-btn {
  position: relative;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  align-self: flex-start;

  text-align: center;

  background-color: #9cb2a5;
  border-radius: 50px;

  margin-left: 8px;
  padding: 9px 17px 9px 45px;
}

.user-btn-icon {
  position: absolute;
  top: 6px;
  left: 16px;

  fill: #fff;
}

.user-btn:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-btn:hover .user-btn-icon {
  fill: #323232;
}

.header-phone {
  float: right;
  color: #fff;
  font-weight: 800;
  text-align: right;
}

.schedule-text {
  font-size: 14px;
  line-height: 16px;

  padding-bottom: 4px;
}

.header-phone-btn {
  font-size: 22px;
  line-height: 24px;

  letter-spacing: -0.3px;
}

.banners-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 10px;
}

.banners-item:nth-child(1) {
  background-image: url(../img/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.banners-item:nth-child(2) {
  background-image: url(../img/banner-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.banners-item {
  display: flex;
  flex-direction: column;

  width: 560px;
  color: #fff;

  border-radius: 5px;
}

.banner-title {
  font-size: 35px;
  font-weight: 800;
  line-height: 41px;
}

.banner-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.banner-btn {
  align-self: flex-start;
}
