* {
  box-sizing: border-box;
}

/*TYPOGRAPHY*/

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

/*Container*/

.container {
  width: 1146px;
  margin: 0 auto;
}

/*Main_Button*/

.main-btn {
  display: inline-block;

  text-align: center;
  vertical-align: top;

  color: #fff;
  font-weight: 800;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border-radius: 50px;
  border: none;

  cursor: pointer;
}

/*main-link*/

.main-link {
  display: block;

  text-decoration: underline;
}

.main-link:hover,
.main-link:active {
  color: #e84d37;
}

/*main-input*/

.main-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: #000;

  border-radius: 5px;

  outline: none;
}

.main-input:focus {
  outline: #2e88e4;
}

.main-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.main-input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.main-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.main-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.main-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

/*-----------------------------------------------*/

body {
  /*position: relative;*/
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  text-transform: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
label[for="user-login"],
label[for="user-password"],
label[for="modal-user-login"],
label[for="user-email"],
label[for="user-text"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  background-image: url(../img/background_slider_1.png);
  background-repeat: no-repeat;
  background-position: 50% 4.6%;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-background {
  min-width: 940px;
  background-color: #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/background_slider_2.png);
}

.site-wrapper::after {
  background-image: url(../img/background_slider_3.png);
}

.slider {
  position: relative;

  padding-top: 272px;
  margin-bottom: 41px;

  text-align: center;
  color: #ffffff;
}

.main-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.main-slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.main-slider-btn {
  padding: 12px 44px;

  font-size: 31px;
  line-height: 41px;
}

.main-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.main-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0px;
  z-index: 1;
}

.slider-controls label {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 7px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/*radio-btn-slider*/

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background_slider_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/background_slider_2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/background_slider_3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-btn {
  color: #fff;
  font-weight: 800;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border-radius: 50px;
}

/*------------------------header------------------------*/

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
}

.top-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 10px;
}

.wrap-heder-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}


.header-logo {
  padding-right: 11px;
  line-height: 0;
}

/*navigation-menu*/

.navigation-user-list {
  position: relative;

  display: -webkit-box;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
  align-self: flex-start;

  /*margin-right: 358px;*/
  padding-top: 15px;
}

.navigation-user-item {
  position: relative;

  padding: 4px 13px;
  margin-right: 2px;
}

.navigation-user-item:hover {
  border-radius: 50px;

  background-color: #f7f6f3;
}

.navigation-user-item:active {
  border-radius: 50px;

  background-color: rgba(248, 247, 244, 0.988);

  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);
}

.navigation-user-item:hover .navigation-user-btn {
  color: #000;
  border-bottom: none;
}

.navigation-user-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nanavigation-user-item--active {
  background-color: #d07058;

  border-radius: 50px;
}

.navigation-user-btn--active {
  border-bottom: none;
}

/*inner-navigation-menu*/

.menu-catalog-list {
  display: none;

  position: absolute;

  width: 142px;
  top: 100%;
  left: -8px;

  margin-top: 6px;

  border-radius: 5px;
  z-index: 4;
}

.menu-catalog-list:before {
  content: "";
  display: block;

  position: absolute;
  top: -20px;

  height: 20px;
  width: 100%;

  opacity: 0;
  /*background-color: red;*/
}

.navigation-user-item:hover > .menu-catalog-list {
  display: block;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.menu-catalog-item {
  position: relative;

  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-catalog-item:hover {
  background-color: #fbded7;
}

.menu-catalog-item:active {
  background-color: #f6b5a5;
}

.menu-catalog-item:first-child {
  border-radius: 5px 5px 0px 0px;
}

.menu-catalog-item:last-child {
  border-radius: 0px 0px 5px 5px;
}

.menu-catalog-item--active {
  background-color: #d07058;
}

.menu-catalog-btn {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #000;
}

.new {
  font-weight: 800;
  padding: 4px 0;
}

.new:before {
  content: '';

  position: absolute;
  top: 39px;
  left: 7px;

  height: 1px;
  width: 128px;

  background-color: #d1d0ce;
}

.user-registration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;

  -webkit-box-align: baseline;

          align-items: center;

  padding-top: 4px;
}

.header-search {
  position: relative;
  width: 31px;
  height: 31px;
  background-color: #9cb2a5;

  border-radius: 50%;
  margin-bottom: 8px;
}

.header-search:hover {
  background-color: #f8f7f4;
}

.header-search:hover .search-icon {
  fill: #323232;
}

.header-search label {
  cursor: pointer;
}

.search-icon {
  position: relative;

  top: 7px;
  left: 7px;

  fill: #fff;
}

.main-search {
  display: none;

  position: absolute;

  width: 344px;
  top: 100%;
  right: 0px;

  margin-top: 6px;
  padding: 17px 18px;

  border-radius: 5px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  z-index: 4;
}

.header-search:hover .main-search {
  display: block;
}

.main-search::before {
  content: "";
  display: block;

  position: absolute;
  top: -15px;

  height: 30px;
  width: 100%;

  opacity: 0;

  /*background-color: red;*/
}

.search-input {
  width: 100%;
  min-height: 43px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;

  border: 1px solid #b2b2b2;
}

.search-input:hover {
  border: 1px solid #9a9a9a;
}

.search-input:focus {
  border: 1px solid #2e88e4;
}

.wrap-user-entry {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  /*align-self: baseline;*/
  -webkit-box-align: center;
          align-items: center;

  margin-bottom: 8px;
}

.wrap-user-btn {
  position: relative;
  /*line-height: 0px;*/
}

.user-btn,
.basket-btn {
  position: relative;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #fff;

  align-self: flex-start;

  background-color: #9cb2a5;
  border-radius: 50px;

  margin-left: 8px;
  padding: 7px 17px 7px 45px;
}

.user-btn-icon,
.basket-btn-icon {
  position: absolute;
  top: 1px;
  left: 26px;

  fill: #fff;
}

.wrap-user-btn:hover .user-btn,
.wrap-basket-btn:hover .basket-btn {
  background-color: #f8f7f4;
  color: #323232;
}

.wrap-user-btn:hover .user-btn-icon,
.wrap-basket-btn:hover .basket-btn-icon {
  fill: #323232;
}

.login-form {
  display: none;

  position: absolute;

  width: 276px;
  top: 100%;
  right: 0px;

  margin-top: 11px;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-left: 18px;
  padding-right: 18px;

  border-radius: 5px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  z-index: 4;
}

.wrap-user-btn:hover .login-form {
  display: block;
}

.login-form::before {
  content: "";
  display: block;

  position: absolute;
  top: -15px;

  height: 30px;
  width: 100%;

  opacity: 0;

  /*background-color: red;*/
}

.input-login-user,
.input-login-password {
  width: 100%;
  min-height: 43px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;

  border: 1px solid #b2b2b2;
}

.input-login-user:hover,
.input-login-password:hover {
  border: 1px solid #9a9a9a;
}

.input-login-user:focus,
.input-login-password:focus {
  border: 1px solid #2e88e4;
}

.login-form p {
  position: relative;

  margin-bottom: 19px;
}
.login-entry {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
}

.entry-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;

  margin-right: 20px;
  padding: 10px 25px;
}

.restore,
.new-regestration {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;

  color: #000;
}

.wrap-basket-btn {
  position: relative;
  /*line-height: 0px;*/
}

.basket-form {
  display: none;

  position: absolute;

  width: 540px;
  top: 100%;
  right: 0px;

  margin-top: 11px;
  /*padding-top: 17px;*/
  padding-bottom: 21px;
  padding-left: 18px;
  padding-right: 13px;

  border-radius: 5px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  z-index: 4;
}

.wrap-basket-btn:hover .basket-form {
  display: block;
}

.basket-form::before {
  content: "";
  display: block;

  position: absolute;
  top: -15px;

  height: 30px;
  width: 100%;

  opacity: 0;

  /*background-color: red;*/
}

.order-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  border-bottom: 1px solid #cacac7;

  padding-bottom: 15px;
  margin-bottom: 15px;
}

.order-item {
  position: relative;

  display: -webkit-box;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
  /*padding-left: 0px;*/
}

.delete-item-btn {
  position: relative;

  background-color: #f8f7f4;
  border: none;

  cursor: pointer;
}

.delete-item-icon {
  position: absolute;
  top: 25%;
  left: 0px;
}

.order-img {
  width: 33px;
  height: 33px;

  margin: 0 13px;
}

.order-item p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;

  padding-top: 7px;
}

.order-text {
  width: 220px;

  margin-right: 27px;
}

.weight-calculation-text {
  margin-right: 27px;
}

.wrap-total-price {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  color: #323232;

  margin-bottom: 15px;
}

.order-btn {
  font-size: 18px;
  line-height: 24px;
  color: #fff;

  padding: 9px 14px;
}

.header-phone {
  float: right;
  color: #fff;
  font-weight: 800;
  text-align: right;
}

.schedule-text {
  font-size: 14px;
  line-height: 16px;

  padding-bottom: 4px;
}

.header-phone-btn {
  font-size: 22px;
  line-height: 24px;

  letter-spacing: -0.3px;
}

.banners {
  margin-top: 10px;
  margin-bottom: 14px;
}

.banners-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.banners-item:nth-child(1) {
  background-color: #b02745;
  background-image: url(../img/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: -50px -95px;
}

.banners-item:nth-child(2) {
  background-color: #5b3623;
  background-image: url(../img/banner-2.jpg);
  background-repeat: no-repeat;
  background-position: -220px -104px;
}

.banners-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  width: 560px;
  color: #fff;

  border-radius: 15px;
  padding-bottom: 25px;
}

.banner-title {
  font-size: 35px;
  font-weight: 800;
  line-height: 41px;

  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 18px;
}

.banner-text {
  width: 535px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;

  padding-bottom: 45px;
  padding-left: 18px;
}

.banner-btn {
  align-self: flex-end;

  font-size: 18px;
  line-height: 24px;
  color: #fff;

  margin-right: 22px;
  padding: 10px 22px;
}

.products-hit {
  margin-bottom: 25px;
}

.products-list-hit {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}

.products-item-hit {
  position: relative;

  display: -webkit-box;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;

  width: 267px;

  margin-top: 26px;
  margin-bottom: 13px;
  margin-right: 26px;

  color: #fff;
}

.flag-hit::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 61px;
  height: 61px;

  border-radius: 50%;

  background-color: #fff;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-img {
  position: absolute;
  z-index: 0;
}

.products-item-hit:nth-child(4n) {
  margin-top: 26px;
  margin-right: 0;
}

.products-item-hit:hover::before {
  content: "";
  position: absolute;

  top: -2px;
  left: -12px;

  width: 293px;
  min-height: 405px;

  background-color: rgba(255,255,255,0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  border-radius: 15px;

  z-index: 3;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  padding-top: 210px;
  padding-bottom: 20px;

  z-index: 2;
}

.product-price::after {
  content: "/кг";
  font-size: 30px;
}

.product-title {

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-align: center;

  padding: 0 3px;
}

.products-item-hit .actions {
  -ms-grid-row-align: center;
      align-self: center;

  display: none;
  position: absolute;

  top: 100%;

  width: 100%;

  z-index: 3;
}

.products-item-hit:hover .actions {
  display: block;
}

.view-btn {
  display: block;
  position: relative;

  font-size: 18px;
  line-height: 24px;
  color: #fff;

  width: 200px;
  margin: 0 auto;
  margin-top: 9px;

  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 5px;
  padding-left: 5px;
}

.seo-box {
  color: #000;

  background-color: #efe4ce;
  background-image: url(../img/background-wafer.jpg);
  background-position: 0 0;

  border-radius: 15px;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 39px;
}

.seo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  letter-spacing: 0.2px;

  padding-left: 18px;
}

.seo-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}

.seo-item {
  position: relative;

  width: 558px;

  padding-top: 21px;
  padding-left: 76px;
}

.seo-item:nth-child(2n+1) {
  margin-right: 8px;
}

.seo-item::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 19px;

  width: 50px;
  height: 50px;
}

.seo-item:nth-child(1)::before {
  background-image: url(../img/ice-cream.svg);
}

.seo-item:nth-child(2)::before {
  background-image: url(../img/cow.svg);
}

.seo-item:nth-child(3)::before {
  background-image: url(../img/eco.svg);
}

.seo-item:nth-child(4)::before {
  background-image: url(../img/thermometer.svg);
}

.seo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-news {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.blog-new {
  width: 560px;

  background-color: #fff;
  background-image: url(../img/background_blog_1.jpg);
  background-position: 17% 39%;

  border-radius: 15px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  min-height: 221px;
}

.blog-new-text {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 500;

  padding-bottom: 5px;
}

.blog-new-link {
  width: 280px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 800;

  color: #000;
}

.blog-mailing {
  width: 560px;

  border: 5px solid #000;
  -webkit-border-image: url(../img/bg-post.svg) 7 round;
       -o-border-image: url(../img/bg-post.svg) 7 round;
          border-image: url(../img/bg-post.svg) 7 round;
  border-radius: 15px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f8f7f4;

  min-height: 221px;
}

.blog-mailing-email {
  padding-top: 6px;
  padding-left: 2px;
}

.blog-mailing p {
  display: block;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  padding-bottom: 34px;
}

.blog-mailing input {
  width: 367px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;

  border: 2px solid #b2b2b2;

  margin-right: 10px;
}

.blog-mailing input:hover {
  border: 2px solid #9a9a9a;
}

.blog-mailing input:focus {
  border: 2px solid #2e88e4;
}

.mailing-btn {
  font-size: 18px;
  line-height: 24px;

  padding: 11px 17px;
}

.map-index {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  margin-bottom: 11px;
}

.map-index-btn {
  width: 1200px;
  margin: 0 auto;

  min-height: 430px;
}

.map-index-btn::after {
  content: "";

  position: absolute;
  top: 32%;
  left: 22%;

  width: 80px;
  height: 140px;

  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
}

.map-index-btn::before {
  content: "";

  position: absolute;
  top: 40%;
  left: 25%;

  width: 182px;
  height: 110px;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}

.feedback {
  position: absolute;
  top: 63px;
  right: 23px;

  background-color: #fff;

  border-radius: 15px;

  padding: 28px 26px;

  color: #000;
}

.feedback p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-address-text,
.feedback-timetable {
  width: 155px;
}

.feedback-phone-text {
  width: 180px;

  padding-bottom: 5px;
}

.feedback h3 {
  width: 225px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  padding-bottom: 19px;
}

.feedback-phone {
  display: block;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  color: #000;

  padding-bottom: 2px;
}

.feedback-timetable {
  padding-bottom: 25px;
}

.feedback-btn {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;

  padding: 10px 29px;
}

.footer {
  padding-bottom: 26px;
}

.footer .container{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}

.social-network ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}

.social-network {
  padding-top: 19px;

  margin-right: 200px;
}

.social-item {
  padding-right: 9px;
}

.social-button {
  height: 40px;
  width: 40px;
}

.social-icon-border {
  min-width: 40px;
  min-height: 40px;

  border-radius: 50%;
  border: 2px solid #c2cec7;

  fill: #e6ebe9;
}

.social-icon-border:hover {
  fill: #fff;
}

.social-icon-border:active {
  border: 2px solid #e6ebe9;
  fill: #e6ebe9;
}

.footer-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;

  width: 380px;

  padding-top: 19px;
  padding-left: 27px;

  margin-right: 180px;
}

.footer-menu-btn-bold {
  position: relative;

  font-size: 13px;
  line-height: 16px;
  font-weight: 800;
}

.footer-menu-btn-bold::before {
  content: "";

  position: absolute;
  top: 1px;
  right: 150px;

  width: 15px;
  height: 15px;


  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.footer-menu-btn {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.footer-menu a {
  min-width: 142px;
}

.developer-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #fff;
}

.htmlacademy-link img {
  padding: 2px 2px;
}

.developer-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #fff;

  text-decoration: underline;
}

.developer-link:hover,
.developer-link:active {
  color: #e84d37;
}

/*-----------------------Catalog--------------------------------*/

.breadcrumbs {
  position: relative;
}

.breadcrumbs-list {
  position: absolute;
  top: -19px;
  left: 0px;

  display: -webkit-box;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.breadcrumbs-item {
  position: relative;

  padding-right: 20px;
}

.breadcrumbs-item::after {
  content: "»";

  position: absolute;
  top: 0px;
  right: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #fff;
}

.breadcrumbs-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #fff;
}

.breadcrumbs-link--active {
  text-decoration: none;
}

.catalog-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: 800;

  color: #fff;

  margin-top: 0;
  margin-bottom: 27px;
}

.filter-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;

  width: 880px;
}

.filter-form fieldset {
  border: none;

  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  color: #fff;

  padding-bottom: 5px;
  padding-left: 14px;
}

.sorting-box {
  position: relative;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 13px;
}

.sorting-outer-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;

  color: #fff;

  border-radius: 50px;

  background-color: #a9b9af;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 50px;
}

.sorting-outer-icon {
  position: absolute;
  top: 14px;
  right: 24px;

  fill: #fff;
}

.sorting-box:hover .sorting-outer-btn {
  background-color: #fff;
  color: #000;
}

.sorting-box:hover .sorting-outer-icon {
  fill: #000;
}

.sorting-list {
  display: none;

  position: absolute;

  width: 192px;
  top: 100%;
  left: 0px;

  padding-left: 0px;
  padding-right: 0px;

  background-color: #fff;

  z-index: 4;
}

.sorting-item--active {
  background-color: #1e90ff;
}

.sorting-box:hover .sorting-list {
  display: block;
}

.sorting-inner-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #000;

  padding-left: 18px;
}

/*filter-price*/

.filter-price {
  margin-right: 10px;
}

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;

  height: 35px;
  padding-top: 18px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #a9b9af;

  border-radius: 50px;
}

.range-controls .scale {
  height: 4px;

  background: #d7dcde;
  padding-left: 25px;
}

.range-controls .bar {
  width: 63%;
  height: 4px;


  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 132px;
}

/*filter-fat*/

.filter-fat-box {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #fff;

  border-radius: 50px;

  background-color: #a9b9af;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;

  width: 418px;
}

.filter-fat-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;

  padding: 0px 17px 0px 48px;
}

.filter-option {
  margin-bottom: 6px;
  margin-top: 7px;
  /*margin-left: 20px;*/
  padding-left: 0px;
  padding-right: 0px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-top: 3px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;

  width: 26px;
  height: 26px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;

  width: 26px;
  height: 26px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}

.filter-input-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::after {
  opacity: 0.3;
}

.filter-input-radio:disabled + label:hover::after {
  opacity: 0.3;
}

/*filter-fillers*/

.filter-fillers-box {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #fff;

  border-radius: 50px;

  background-color: #a9b9af;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;

  width: 702px;
}

.filter-fat-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;

  padding: 0px 17px 0px 48px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}

.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::after {
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label:hover::after {
  opacity: 0.3;
}

.filter-form button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;

  color: #fff;

  background-color: #a9b9af;

  border-radius: 50px;

  border: 2px solid #fff;

  margin-left: 12px;
  margin-top: 6px;
  padding: 7px 28px;

  -ms-grid-row-align: center;

      align-self: center;
}

.filter-form button:hover {
  color: #323232;

  background-color: #fff;

  border: 2px solid #fff;
}

.filter-form button:active {
  color: #323232;

  background-color: #ededed;

  border: 2px solid #ededed;

  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/*pagination*/

.pagination-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
  flex-wrap: wrap;

  margin-top: 65px;
  margin-bottom: 15px;
  padding-bottom: 30px;

  border-bottom: 1px solid #a9bbb1;
}

.pagination-item {

  margin-left: 2px;
}

.pagination-link {
  display: block;
  text-align: center;

  font-size: 16px;
  line-height: 18px;
  font-weight: 600;

  width: 27px;
  height: 27px;

  border-radius: 50%;

  padding: 5px 0px;
}

.pagination-link:hover {
  background-color: #9cb0a4;
}

.pagination-link:active {
  background-color: #fff;
  color: #000;
}

.pagination-link--active {
  background-color: #fff;

  color: #000;
}

.pagination-link-next {
  display: block;
  text-align: center;

  height: 27px;

  padding: 4px 0px 0px 11px;
}

/*-----------------------------------------------------------------------*/





/*Modal-Window*/

/*modal-write-us*/

.modal {
  display: none;

  position: fixed;

  color: #000000;

  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.write-us-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;

  color: #000;

  padding-top: 18px;
  padding-bottom: 17px;
}

.modal-write-us {
  top: 114px;
  left: 50%;

  width: 478px;
  height: 445px;

  margin-left: -238px;
  padding-right: 25px;
  padding-left: 25px;
  /*padding-top: 53px;*/

  border-radius: 15px;

  /*z-index: 6;*/
}

.modal-close {
  position: absolute;
  top: 0;
  right: 5px;

  width: 40px;
  height: 45px;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  outline: none;
  z-index: 10;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 24px;
  right: 8px;

  width: 24px;
  height: 2px;

  background-color: #000;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-write-us {

}

.form-write-us p {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-user-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;


  padding-bottom: 2px;
}

.modal-user-info input {
  width: 267px;

  margin-bottom: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;

  border: 1px solid #b2b2b2;
}

.modal-user-info input:hover {
  border: 1px solid #9a9a9a;
}

.modal-user-info input:focus {
  border: 1px solid #2e88e4;
}

.form-write-us textarea {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: #000;

  border-radius: 5px;

  outline: none;

  height: 155px;

  padding: 10px 15px;
  margin-bottom: 26px;
}

.form-write-us textarea:focus {
  outline: #2e88e4;
}

.form-write-us textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.form-write-us textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.form-write-us textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.form-write-us textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.form-write-us textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.write-us-btn {
  align-self: flex-end;

  font-size: 18px;
  line-height: 24px;
  color: #fff;

  padding: 10px 22px;
}


/*Modal-Map*/

.modal-map {
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -280px;
  margin-left: -470px;

  z-index: 6;
}

.modal-map p {
  margin: 0;
}





.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
